label
{
  
    width:100px; /* Attention : prenez une largeur suffisamment grande */
    float:left;
}
.but{
margin-left: 100px;}

.tab{
  width:300px; 
  background-color:white;
}
body{
    background: rgb(179, 178, 178);
}

.hi{
margin-left: 40px;


}
div#error{
  background-color: red;
  border: 1px solid black;
padding: 5px;
display: none;
}
div#resultat{
  background-color: green;
  border: 1px solid black;
padding: 5px;
display: none;
}